@charset "utf-8";

* {margin:0;padding:0;}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 칸 띄우기 */
.br {
    width: 1600px;
    height: 50px;
    background-color: white;
}

h1 {
    font-family: "맑은 고딕";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.section {
    width: 1600px;
    margin: 0 auto;
    background-color: gold;
}

.section > .article {

}

.section > .imgbox {

}

